<div class="wrapper1" [ngClass]="{collapse1:status===true}">
    <div class="sidebar1">
        <ul>
            <li><a routerLink="/main-page/display-area/all">
                    <i class="bi bi-house-door-fill"></i>
                    <span class="title1">All</span>
                </a></li>
            <li *ngFor="let tag of Tags">
              <a routerLink="/main-page/display-area/{{tag.label}}">
                <i class="{{tag.icon}}"></i>
                <span class="title1">{{tag.label}}</span>
              </a>
            </li>
            <li><a href="https://www.google.com/maps/dir//KIIT+Campus+6+9R39%2BCW7+Chandaka+Industrial+Estate,+K+I+I+T+University,+Patia+Bhubaneswar,+Odisha+751024/@20.3535272,85.8198118,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a19093d69c9edc1:0x4f11974507a587f3!2m2!1d85.8198118!2d20.3535272">
                  <i class="bi bi-geo-alt-fill"></i>
                  <span class="title1">Maps</span>
                </a></li>
        </ul>
    </div>
</div>
