form {
  margin-top: -50px;

  height: 80vh;
  font-size: 13px;
}

label {
  color: rgb(0, 11, 136);
}
.login-page {
  font-size: 13px;
  margin-top: 5px;
  color: rgb(0, 11, 136);
}
@media screen and (max-width: 520px) {
  form {
    height: 100vh;
  }
}
