<div class="container">
    <br>
      <!-- <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/admin-panel']">Verification Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/users-list']">Users List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

      </ul> -->
<!--      <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <div class="container-fluid">-->

<!--          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--          </button>-->
<!--          <div class="collapse navbar-collapse" id="navbarNav">-->
<!--            <ul class="navbar-nav">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" aria-current="page" [routerLink]="['/admin-panel/verify']">Verification Requests</a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                    <a class="nav-link" href="#" [routerLink]="['/admin-panel/users-list']">Users List</a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                    <a class="nav-link  active" href="#" [routerLink]="['/admin-panel/reported-posts']">Reported Posts</a>-->
<!--                  </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </nav>-->

      <div width="200px">
        <br><br><br>
      </div>

        <table class="table table-striped table-hover table-bordered border-primary text-center">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Created By</th>
                  <th scope="col">Action</th>
                  <!-- <th scope="col">Posted by</th>
                  <th scope="col">Category</th> -->
                  <!-- <th scope="col">Document</th>
                  <th scope="col">Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let report of ReportsList ; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td><a href="#" (click)="OpenReportedByModal(report.report)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link-primary">{{report.title}}</a></td>
                  <td>{{report.post_email}}</td>
                  <!-- <td>{{report.creator_email}}</td>
                  <td>{{report.tag}}</td> -->
                  <!-- <td><a target="_blank"  href={{http_link_prefix+request.documentPic}} class="link-primary">View Document</a></td> -->

                  <!-- <td><a (click)="createDocLink(request)" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="link-primary">View Document</a></td>
                  <td>
                    <button type="button" class="btn btn-success" (click)="ApproveRequest(request)">Approve</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="OpenDeclineRequestModal(request)"data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Decline</button>
                  </td> -->
                  <td>
                    <button type="button" class="btn btn-success" (click)="IgnorePost(report.postid)">Ignore Post</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="DeletePost(report.postid)">Delete Post</button>
                  </td>
                </tr>



              </tbody>
          </table>
      </div>

      <!--  -->


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reported Post Info</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-striped table-hover table-bordered border-primary text-center">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <!-- <th scope="col">Posted by</th>
                      <th scope="col">Category</th> -->
                      <!-- <th scope="col">Document</th>
                      <th scope="col">Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let report of ReportedByList ; let i=index">
                      <th scope="row">{{i+1}}</th>

                      <td>{{report.reporter}}</td>
                      <td>{{report.reason}}</td>


                    </tr>



                  </tbody>
              </table>
          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


          </div>
        </div>
      </div>
    </div>
