<div class="card mb-1" >
  <div class="card-body" style="margin-bottom: -25px; margin-top: -8px">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <img src="{{baseImgUrl}}" class="rounded-circle pointer" width="4%" alt="">
        <p class="mb-0 ms-2"><b>{{comment.comment_email}}</b></p>
        <i *ngIf="verified === true" class="bi bi-patch-check-fill text-primary ms-2"></i>
      </div>
    </div>
    <p>{{comment.commenttxt}}</p>
  </div>
</div>
